<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <title>Comic Books Database</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <div class="navbar-brand">Comic Book DataBase</div>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/">Comic Comic Books Database</a></li>
                </ul>
            </div>
        </div>
        <section class="new-comic-book">
            <input type="text" id="newInput" placeholder="Título quadrinho:">
            <input type="text" id="newPrice" placeholder="Valor:">
            <input type="text" id="newState" placeholder="Estado de Conservação:">
            <input type="text" id="newInsertionDate" placeholder="Data de Inserção:">
            <button onclick="newItem()" class="addBtn">Adicionar</button>
        </section>
        <section class="comic-books">
            <table id="comic-books-table">
                <tr>
                    <th>Nome</th>
                    <th>Valor</th>
                    <th>Estado</th>
                    <th>Data de Inserção</th>
                    <th><img src="https://cdn-icons-png.flaticon.com/512/126/126468.png" width="15px" height="15px"></th>
                </tr>
            </table>
        </section>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>